# Lab 2: numpy

#### Practice Exercise 1

Create the following NumPy arrays: 
1. A 1-D array called zeros having 10 elements and all the elements are set to zero. 
2. A 1-D array called vowels having the elements ‘a’, ‘e’, ‘i’, ‘o’ and ‘u’. 
3. A 2-D array called ones having 2 rows and 5 columns and all the elements are set to 1 and dtype as int. 
4. Use nested Python lists to create a 2-D array called myarray1 having 3 rows and 3 columns and store the following data: 2.7,  0,  -2,  3.4,  10.6,  0,  -19 99.9 13 
5. A 2-D array called myarray2 using arange() having 3 rows and 5 columns with start value = 4, step size 4 and dtype as float

In [2]:
# Write your answer here
import numpy as np 

zeros = np.zeros(10, dtype=int)
vowels = np.array(['a', 'e', 'i', 'o', 'u'])
ones = np.ones((2, 5), dtype=int)
myarray1 = np.array([[2.7, 0, -2], [3.4, 10.6, 0], [-19, 99.9, 13]])
myarray2 = np.arange(4, 4*15 + 1, 4, dtype=float).reshape(3, 5)

print("zeros:\n", zeros)
print("vowels:\n", vowels)
print("ones:\n", ones)
print("myarray1:\n", myarray1)
print("myarray2:\n", myarray2)

zeros:
 [0 0 0 0 0 0 0 0 0 0]
vowels:
 ['a' 'e' 'i' 'o' 'u']
ones:
 [[1 1 1 1 1]
 [1 1 1 1 1]]
myarray1:
 [[  2.7   0.   -2. ]
 [  3.4  10.6   0. ]
 [-19.   99.9  13. ]]
myarray2:
 [[ 4.  8. 12. 16. 20.]
 [24. 28. 32. 36. 40.]
 [44. 48. 52. 56. 60.]]

Using the arrays created in Question above, write NumPy commands for the following: 
1. Find the dimensions, shape, size, data type of the items and itemsize of arrays zeros, vowels, ones, myarray1 and myarray2. 
2. Reshape the array ones to have all the 10 elements in a single row. 
3. Display the 2nd and 3rd element of the array vowels. 
4. Display all elements in the 2nd and 3rd row of the array myarray1. 
5. Display the elements in the 1st and 2nd column of the array myarray1. 
6. Display the elements in the 1st column of the 2nd and 3rd row of the array myarray1. 
7. Reverse the array of vowels.

In [50]:
#Write your answer here
print(myarray2.ndim, myarray2.size, myarray2.dtype, myarray2.itemsize, myarray2.shape)
ones = ones.reshape(1, 10)
print("Reshaped ones array:\n", ones, "\n")

q3 = vowels[1:3]
print("2nd and 3rd elements of vowels:", q3, "\n")

q4 = myarray1[1:3, ]
print("2nd and 3rd rows of myarray1:\n", q4, "\n")

q5 = myarray1[:, 0:2]
print("1st and 2nd columns of myarray1:\n", q5, "\n")

q6 = myarray1[1:3, 0]
print("1st column of 2nd and 3rd rows of myarray1:\n", q6)
q7 = vowels[::-1]
print("Reversed vowels array:\n", q7)

2 15 float64 8 (3, 5)
Reshaped ones array:
 [[1 1 1 1 1 1 1 1 1 1]]

2nd and 3rd elements of vowels: ['e' 'i']

2nd and 3rd rows of myarray1:
 [[  3.4  10.6   0. ]
 [-19.   99.9  13. ]]

1st and 2nd columns of myarray1:
 [[  2.7   0. ]
 [  3.4  10.6]
 [-19.   99.9]]

1st column of 2nd and 3rd rows of myarray1:
 [  3.4 -19. ]
Reversed vowels array:
 ['u' 'o' 'i' 'e' 'a']

Using the arrays created in Question above, write NumPy commands for the following:
1. Divide all elements of array ones by 3. 
2. Add the arrays myarray1 and myarray2. 
3. Subtract myarray1 from myarray2 and store the result in a new array. 
4. Multiply myarray1 and myarray2 elementwise. 
5. Do the matrix multiplication of myarray1 and myarray2 and store the result in a new array myarray3. 
6. Divide myarray1 by myarray2. 
7. Find the cube of all elements of myarray1 and divide the resulting array by 2. 
8. Find the square root of all elements of myarray2   and divide the resulting array by 2. The result  should be rounded to two places of decimals.

In [12]:
# Write your answer here
q1 = ones / 3
q2 = myarray2[:, :3] + myarray1
q3 = myarray2[:, :3] - myarray1
q4 = myarray1 * myarray2[:, :3]
q5 = np.dot(myarray1, myarray2)
q6 = myarray1 / myarray2[:, :3]
q7 = (myarray1**3) / 2
q8 = np.round(np.sqrt(myarray2) / 2, 2)

print("q1:\n", q1)
print("q2:\n", q2)
print("q3:\n", q3)
print("q4:\n", q4)
print("q5:\n", q5)
print("q6:\n", q6)
print("q7:\n", q7)
print("q8:\n", q8)

q1:
 [[0.33333333 0.33333333 0.33333333 0.33333333 0.33333333]
 [0.33333333 0.33333333 0.33333333 0.33333333 0.33333333]]
q2:
 [[  6.7   8.   10. ]
 [ 27.4  38.6  32. ]
 [ 25.  147.9  65. ]]
q3:
 [[  1.3   8.   14. ]
 [ 20.6  17.4  32. ]
 [ 63.  -51.9  39. ]]
q4:
 [[  10.8    0.   -24. ]
 [  81.6  296.8    0. ]
 [-836.  4795.2  676. ]]
q5:
 [[ -77.2  -74.4  -71.6  -68.8  -66. ]
 [ 268.   324.   380.   436.   492. ]
 [2893.6 3269.2 3644.8 4020.4 4396. ]]
q6:
 [[ 0.675       0.         -0.16666667]
 [ 0.14166667  0.37857143  0.        ]
 [-0.43181818  2.08125     0.25      ]]
q7:
 [[ 9.841500e+00  0.000000e+00 -4.000000e+00]
 [ 1.965200e+01  5.955080e+02  0.000000e+00]
 [-3.429500e+03  4.985015e+05  1.098500e+03]]
q8:
 [[1.   1.41 1.73 2.   2.24]
 [2.45 2.65 2.83 3.   3.16]
 [3.32 3.46 3.61 3.74 3.87]]

Using the arrays created above, write NumPy commands for the following: 
1. Find the transpose of ones and myarray2. 
2. Sort the array vowels in reverse. 
3. Sort the array myarray1 such that it brings the lowest value of the column in the first row and so on.

In [16]:
# Write your answer here
#np.transpose(myarray2) or myarray2.T both ara correct 
q1 = np.transpose(myarray2)
print(myarray1)
print(np.sort(myarray1))
print(np.sort(myarray1,0))

[[  2.7   0.   -2. ]
 [  3.4  10.6   0. ]
 [-19.   99.9  13. ]]
[[ -2.    0.    2.7]
 [  0.    3.4  10.6]
 [-19.   13.   99.9]]
[[-19.    0.   -2. ]
 [  2.7  10.6   0. ]
 [  3.4  99.9  13. ]]

Create a 2-D array called myarray4 using arange() having 14 rows and 3 columns with start value = -1, step size 0.25 having. Split this array row wise into 3 equal parts and print the result.

In [18]:
# Write your answer here
myarray4= np.arange(-1,-1+0.25*42,0.25).reshape(14,3)
#myarray4.size if I want to know the size 
np.array_split(myarray4,3)

[array([[-1.  , -0.75, -0.5 ],
        [-0.25,  0.  ,  0.25],
        [ 0.5 ,  0.75,  1.  ],
        [ 1.25,  1.5 ,  1.75],
        [ 2.  ,  2.25,  2.5 ]]),
 array([[2.75, 3.  , 3.25],
        [3.5 , 3.75, 4.  ],
        [4.25, 4.5 , 4.75],
        [5.  , 5.25, 5.5 ],
        [5.75, 6.  , 6.25]]),
 array([[6.5 , 6.75, 7.  ],
        [7.25, 7.5 , 7.75],
        [8.  , 8.25, 8.5 ],
        [8.75, 9.  , 9.25]])]

Using the myarray4 created in the above questions, write commands for the following: 
1. Find the sum of all elements. 
2. Find the sum of all elements row wise
3. Find the sum of all elements column wise. 
4. Find the max of all elements. 
5. Find the min of all elements in each row. 
6. Find the mean of all elements in each row. 
7. Find the standard deviation column wise.

In [34]:
# Write your ansewr here
np.sum(myarray4)
np.max(myarray4)
np.min(myarray4)
np.mean(myarray4)
np.std(myarray4)

print("q1:\n", q1)
print("q2:\n", q2)
print("q3:\n", q3)
print("q4:\n", q4)
print("q5:\n", q5)

q1:
 [[ 4. 24. 44.]
 [ 8. 28. 48.]
 [12. 32. 52.]
 [16. 36. 56.]
 [20. 40. 60.]]
q2:
 [[  6.7   8.   10. ]
 [ 27.4  38.6  32. ]
 [ 25.  147.9  65. ]]
q3:
 [[  1.3   8.   14. ]
 [ 20.6  17.4  32. ]
 [ 63.  -51.9  39. ]]
q4:
 [[  10.8    0.   -24. ]
 [  81.6  296.8    0. ]
 [-836.  4795.2  676. ]]
q5:
 [[ -77.2  -74.4  -71.6  -68.8  -66. ]
 [ 268.   324.   380.   436.   492. ]
 [2893.6 3269.2 3644.8 4020.4 4396. ]]

#### Practice Exercise 2
Read the coordinates of the capital cities of the world from the country-capital-lat-long-population.csv file. Use NumPy to print the name and coordinates of the capital city closest to the Saudi Arabia capital - Riyadh.

Note that:

1. The Country Name for Saudi Arabia is given as Saudi Arabia in the data.
2. The ‘closeness’ of capital cities from the Saudi Arabia capital is based on the Euclidean distance of their coordinates to those of the Saudi Arabia capital.


Hints:

1. Use read_html() from the Pandas library to read the table.
2. Use the to_numpy() function of the Pandas DataFrame class to convert a DataFrame to a Numpy array
3. Use broadcasting to compute the euclidean distance of capital cities from Riyadh.

In [24]:
# Write your answer here
import pandas as pd

capitals = pd.read_csv('country-capital-lat-long-population.csv')
capitals.head()

,Country,Capital City,Latitude,Longitude,Population,Capital Type
0,Afghanistan,Kabul,34.5289,69.1725,4011770,Capital
1,Albania,Tiranë (Tirana),41.3275,19.8189,475577,Capital
2,Algeria,El Djazaïr (Algiers),36.7525,3.0420,2693542,Capital
3,American Samoa,Pago Pago,-14.2781,-170.7025,48526,Capital
4,Andorra,Andorra la Vella,42.5078,1.5211,22614,Capital

#### Practical Exercise 2

Use NumPy to:

1. Print the names of the countries of the top 10 capital cities closest to the US capital - Washington DC.

2. Create and print a NumPy array containing the coordinates of the top 10 cities.

In [20]:
import pandas as pd
import numpy as np

# Load the data from the CSV file
capitals = pd.read_csv('country-capital-lat-long-population.csv')

# Extract Washington DC's coordinates (US capital)
washington_data = capitals[capitals['Capital City'].str.contains('Washington')]
washington_lat = washington_data['Latitude'].values[0]
washington_long = washington_data['Longitude'].values[0]

# Extract the latitudes, longitudes, capital city names, and countries for all the capitals
capital_data = capitals[['Country', 'Capital City', 'Latitude', 'Longitude']].to_numpy()

# Compute the Euclidean distance of all capitals from Washington, DC
distances = np.sqrt((capital_data[:, 2].astype(float) - washington_lat)**2 + 
                    (capital_data[:, 3].astype(float) - washington_long)**2)

# Exclude Washington itself from the comparison by setting its distance to infinity
is_not_washington = capital_data[:, 1] != 'Washington'
distances[~is_not_washington] = np.inf

# Find the indices of the top 10 closest cities
top_10_indices = np.argsort(distances)[:10]

# Print the names of the countries of the top 10 closest cities
top_10_countries = capital_data[top_10_indices, 0]
print("Countries of the top 10 closest cities to Washington, DC:")
print(top_10_countries)

# Create and print a NumPy array containing the coordinates of the top 10 cities
top_10_coordinates = capital_data[top_10_indices, 2:4].astype(float)
print("\nCoordinates of the top 10 closest cities:")
print(top_10_coordinates)

Countries of the top 10 closest cities to Washington, DC:
['United States of America' 'Canada' 'Bahamas' 'Bermuda' 'Cuba'
 'Turks and Caicos Islands' 'Cayman Islands' 'Haiti' 'Jamaica'
 'Dominican Republic']

Coordinates of the top 10 closest cities:
[[ 38.8951 -77.0364]
 [ 45.4166 -75.698 ]
 [ 25.0582 -77.3431]
 [ 32.2915 -64.778 ]
 [ 23.1195 -82.3785]
 [ 21.4612 -71.1419]
 [ 19.2866 -81.3744]
 [ 18.5392 -72.335 ]
 [ 17.997  -76.7936]
 [ 18.4896 -69.9018]]